.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-top: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.content {
  padding: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 992px) {
  .sidebar {
    width: 220px;
    left: 0;
  }

  .content {
    margin-left: 220px;
  }
}

.alert {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
